<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Previsão do tempo</title>
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="superior">

            <div class="img">
                <a href="https://imgbb.com/">
                    <img class="logo" src="https://i.ibb.co/cNDpzV6/LIMOEIRO-DE-ANADIA-P-LEVE-NOVO-1-removebg-preview.png" alt="LIMOEIRO-DE-ANADIA-P-LEVE-NOVO-1-removebg-preview" border="0">
                </a>
            </div>

            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="cidade" id="cidade" placeholder="Limoeiro de Anadia" required>
                <button class="submit-lente" onclick="mudarEstado()" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>

        </div>
        <div class="resposta">
            <br>
            <p style="text-align:center">Descrição do clima</p>
            <p id="texto" style="text-align:center" class="texto">{{ traducao }}</p>
            <a href="https://imgbb.com/"><img class="fig" id="sol" name="sol" src="https://i.ibb.co/FhpGxRN/Design-sem-nome-removebg-preview.png" alt=""></a>
            <a href="https://imgbb.com/"><img class="fig" id="nublado" name="nublado" src="https://i.ibb.co/y4K93VF/Design-sem-nome-1-removebg-preview.png" alt=""></a>
            <a href="https://imgbb.com/"><img class="fig" id="chuva" name="chuva" src="https://i.ibb.co/HFCJXqD/Design-sem-nome-2-removebg-preview.png" alt=""></a>
            <a href="https://imgbb.com/"><img class="fig" id="tempo" name="tempo" src="https://i.ibb.co/vHJ9yYS/Design-sem-nome-removebg-preview.png" alt=""></a>
        </div>
        <button id="botao" onclick="mudarEstado()">Clique-me depois</button>
    </div>
    <script src="static/js/index.js"></script>
</body>

</html>