<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Previsão do tempo</title>
  <link href="projetoDjango/templates/static/css/style.css" rel="stylesheet" type="text/css"/>
</head>

<body>

 <div>
  <a href="https://ibb.co/mypRdZQ">
    <img src="https://i.ibb.co/QH0JhSs/LIMOEIRO-DE-ANADIA-P-LEVE-NOVO.png" alt="LIMOEIRO-DE-ANADIA-P-LEVE-NOVO" border="0"></a>
 </div>

<div class="submit-line">
  <input type="text" />
  <button class="submit-lente" type="submit">
    <i class="fa fa-search"></i>
  </button>
</div>
</form>

<section></section>
<section></section>
<section></section>

<div class="blue-text black-background height">
<br>
  <p style="text-align:center">Dados meteorológicos</p>
</div>
  
</body>

</html>